* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kumbh, sans;
}

body {
  background-color: #f4f6f8;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.nav {
  height: 160px;
  background-color: #5964e0;
  margin-bottom: 80px;
  margin-top: 60px;
}
.nav h3 {
  color: white;
  padding-top: 44px;
  padding-left: 120px;
}
icon {
  color: white;
  position: absolute;
  top: 110px;
  right: 210px;

  /* right: 0; */
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.card {
  flex: 0 0 calc(33.33% - 20px);
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.img {
  position: absolute;
  margin-top: -45px;
  background-color: #19202d;
  border-radius: 5px;
  padding: 10px 5px;
}

#text1 {
  font-size: 16px;
  color: #6e8098;
}
#text2 {
  display: inline;
}
#text3 {
  font-size: 20px;
  color: #19202d;
  margin-top: 10px;
}
#text4 {
  font-size: 16px;
  color: #6e8098;
  margin-top: 10px;
}
#text5 {
  font-size: 14px;
  color: #5964e0;
  margin-top: 30px;
  margin-bottom: 20px;
}
#btn {
  font-size: 16px;
  background: #5964e0;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border-style: none;
  margin-left: 590px;
  margin-bottom: 20px;
}
